.modal.fade#coupon-modal{ data: { role: 'dialog' }}
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title Coupon
      .modal-body.alert-success
        %p#coupon-link
      .modal-footer
        %button.btn.btn-secondary{ data: { dismiss: 'modal' } } Close